.bold {
  font-weight: bold;
}
.flex-r-bg-color {
  background-color: darkslategray;
  border-radius: 10px 5% / 0px 10px 0px 10px;
  box-shadow: -6px 0px rgba(27, 36, 36, 0.4);
}
.color-white {
  color: white;
}
.color-darkslategray {
  color: darkslategray;
}
.width-vh {
  width: vh;
}
.d-flex-bgcolor {
  background-color: dimgray;
}
.margin-left {
  margin-right: 4px;
}
